@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('font/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('font/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-ExtraBoldItalic-webfont.woff2') format('woff2'),
         url('font/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('font/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('font/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    background-color: #efefef;
    font-family: 'open_sansextrabold_italic';
    color: aquamarine;
    margin-left: 10%;
    margin-right: 10%;
    margin-right: 17em;
}
h1{
    text-align: center;
    color: yellow;
    border-bottom: 5px solid yellow;
    margin-left: 2%;
    padding-bottom: 1.5em;
    letter-spacing: 0.2em;
}
img{
    border: 2px solid yellow;
}
strong{
    color: yellow;
}
em{
    color: yellow;
}
body{
    background-color: gray;

}
p{
    text-align: justify;
    margin-left: 2%;
}
h2{
    margin-left: 2%;
}
.ny{
    display: block;
    margin: 0 auto;
    text-align: center;
}