p{
    background: green; 
    width: 30em;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
    box-shadow: 0 0 15px #000000;
}
blockquote{
    background-color: orange;
    width: 30em;
    padding: 2em;
    margin-top: 4em;
    border-radius: 0px 50px 30px 0px;
}
h1{
    border-radius: 50%;
    background-color: greenyellow;
    padding: 25px;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
img{
    padding: 4px;
    box-shadow: 8px 8px 100px gold;
    border: 5px solid white;
    width : 300px;
    height: 300px;
}