.oui{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-image: url(logo.png), url(disque.png);
    background-repeat: no-repeat;
    background-position: right bottom, center center;
    background-size: 30%,100%;
    text-align: center;
    font-size: 2em;
}