figure.oui{
    filter: grayscale(80%);
}
figure.non{
    filter: sepia(60%);
}
figure.allez{
    filter: blur(5px) sepia(100%) drop-shadow(-3px -3px blue);
}
figure.no{
    filter: blur(5px) sepia(100%) drop-shadow(-3px -3px blue);
}
figure.no:hover{
    filter: none;
}

figure.aaa{
    width: 500px;
    background: aqua;
}
img{
    mix-blend-mode: multiply;
    
}