@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Sekuya&family=Tiny5&display=swap');

body {
    padding: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carre {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css {
    font-family: "Tiny5", sans-serif;
    font-size: 2em;
}

.lettre1 {
    color: red;
    font-family: "Science Gothic", sans-serif;

}

.lettre2 {
    color: gold;
    font-family: "Tiny5", sans-serif;

}

.lettre3 {
    color: blue;
    font-family: "Science Gothic", sans-serif;

}

.lettre4 {
    padding-right: 25px;
    color: aqua;
    font-family: "Sekuya", system-ui;

}

.lettre5 {
    padding-left: 25px;
    color: yellowgreen;
    font-family: "Science Gothic", sans-serif;

}

.lettre6 {
    color: chocolate;
    font-family: "Tiny5", sans-serif;

}

.lettre7 {
    color: cadetblue;
    font-family: "Science Gothic", sans-serif;

}

.lettre8 {
    color: blueviolet;
    font-family: "Sekuya", system-ui;

}

.lettre9 {
    color: coral;
    font-family: "Science Gothic", sans-serif;

}

.lettre10 {
    color: burlywood;
    font-family: "Sekuya", system-ui;

}

.lettre11 {
    color: rebeccapurple;
    font-family: "Science Gothic", sans-serif;

}