body{
    background-image: url(html.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0; /*center top*/
    margin: 0 auto;
    width: 98%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    min-width: 640px;
}
h1 {
    color: brown;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px;
}

h2 {
    color: burlywood;
}

.aaaa {
    color: burlywood;
}

.colonne02 {
    column-width: 200px;
    /*width, style et color */
    column-rule: 3px solid green;
    text-align: justify;
    column-gap: 30px;
}
img {
  float: right; /* L'image flotte à droite */
  margin-left: 20px; /* ajoute une marge pour décoller le texte */
}
