

body {
  font-size: 100%;
  word-wrap: break-word;
  hyphens: auto;
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-bottom: 40px;
}

nav ul li {
  border: 1px solid black;
  padding: 8px 20px;
  flex: 1;
  text-align: center;
}
header article{
  flex: 2;
}



#oui {
  display: flex;
}

#oui div {
  flex: 2;
}

#oui h1 {
  font-size: 50px;
}

#oui h2 {
  font-size: 30px;
}

#oui figure {
  flex: 1;
  border: 1px solid black;
}

#oui figure img {
  width: 100%;
  height: 100%;
}
#svp{
  margin-left: 3%;
}