@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&family=Tiny5&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Tiny5", sans-serif;
}
strong {
    color: green; 
    font-weight: bold;
}

/*Navigation */
nav {
    background-color: black;
    padding: 15px 0;
    text-align: left;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 15%; 
}

nav li {
    display: inline;
    padding: 0 10px;
}


nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

nav a.active {
    color: red; 
}

nav a:hover, nav a:focus {
    text-decoration: underline;
    background-color: brown;
}

/* Titre*/
h1 {
    color: red;
    margin-left: 15%;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 1.6em;
    text-align: left;
}

h2 {
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

h3, h4 {
    text-align: center;
    margin-top: 10px;
}

h3 { 
    color: red;
}


div {
    padding: 2em; 
    border-radius: 0; 
    border: none; 
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    background-color: grey;
}

p {
    margin: 1em;
    color: beige;
    font-family: "Science Gothic", sans-serif;
    text-align: justify;

}

p a:visited {
    color: blue;
}
